.index__main {
    background-color: $color140;
}
    
.logo {
    @media screen and (max-width: 550px){
        display: none;
    }
    &__img {
        position: absolute;
        width: 15vw;
        top: 0.2rem;
        left: 0.2rem;
        z-index: 99;
        transition: width 1s, opacity 5s;
        &:hover {
            width: 17vw;
            opacity: 0.5;
        }
    }
}

.logo--indexmobile {
    display: none;
    @media screen and (max-width: 550px){
        width: 100%;
        display: block;
        text-align: center;
        z-index: 99;
        animation-name: desvanecer;
        animation-iteration-count: infinite;
        animation-duration: 6s;
        @keyframes desvanecer {
            0% {
                opacity: 1;
            }
            80% {
                opacity: 1;
            }
            90% {
                opacity: 0.3;
            }
            100% {
                opacity: 1;
            }
        }
    }
    .logo__img--indexmobile {
        position: inherit;
        width: 80%;
        padding: 4rem 2rem;
        &:hover {
            padding: 4rem 2rem;
        }
    }
}

