.recursos {
    background-color: $color140;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 4rem;
    &__titulo {
        font-family: $font-kids;
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
        color: #000;
        font-weight: 100;
        padding: 4rem;
        text-align: center;
        @media screen and (max-width: 1400px){
            padding: 3rem;
        }
        @media screen and (max-width: 1200px){
            padding: 2rem;
        }
    }
    &__frase {
        font-family: $font-kids;
        text-align: center;
        line-height: 2rem;
        padding: 2rem;
        width: 95%;
        font-size: 1.4rem;
        background-color: $color130;
        margin: 1rem;
        border-radius: 1rem;
    }
    &__bloque {
        display: grid;
        grid-template-columns: 38rem;
        grid-template-rows: 3rem 30rem auto;
        padding: 0.5rem;
        @media screen and (max-width: 1260px){
            grid-template-columns: 34rem;
        }
        @media screen and (max-width: 1115px){
            grid-template-columns: 28rem;
        }
        @media screen and (max-width: 600px){
            grid-template-columns: 24rem;
        }
        &__titulo {
            font-family: $font-kids;
            font-size: 1.8rem;
            letter-spacing: 0.1rem;
            color: #000;
            font-weight: 100;
        }
        iframe {
            width: 100%;
            height: 100%;
        }
        &__p {
            font-family: $font-kids;
            padding: 1rem;
            line-height: 2rem;
            width: 100%;
            font-size: 1.3rem;
            text-align: center;
        }
    }
}
