
$font-noan: 'Cabin Sketch', cursive;
$font-kids: 'Architects Daughter', cursive;

$color1: #E49E00;
$color130: #E49E0030;
$color140: #E49E0040;
$color150: #E49E0050;
$color160: #E49E0060;
$color170: #E49E0070;
$color185: #E49E0085;
$color190: #E49E0090;

$color2: #D70765;
$color230: #D7076530;
$color285: #D7076585;

